:host::ng-deep {

  .navbar-layout {
    display: grid;
    grid-template-rows: 32px;
    grid-template-areas: 'left right';
    background-color: #25ae60;
    padding: 8px 24px;

    .left {
      grid-area: left;
      font-weight: bold;
      font-size: 24px;
      color: #ffffff;
      letter-spacing: 0.35px;
      line-height: 32px;
    }

    .right {
      grid-area: right;
      text-align: right;
    }

    mat-icon {
      color: #ededed;
      line-height: 32px;
      margin: 0 12px;
      vertical-align: middle;
      cursor: pointer;
      &:hover {
        color: #ffffff;
      }
    }

    .mat-badge-medium.mat-badge-above .mat-badge-content {
      top: -5px;
    }

    .mat-badge-medium.mat-badge-overlap.mat-badge-before .mat-badge-content {
      left: -5px;
    }

    .mat-badge-medium .mat-badge-content {
      width: 16px;
      height: 16px;
      line-height: 16px;
    }

    .menu-account {
      display: grid;
      text-align: center;

      .mat-list-item-content {
        font-weight: bold;
      }
    }

  }
}
