/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import '~saturn-datepicker/theming';

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  margin: 0;
}

.mat-list-base .mat-list-item {
  height: 32px !important;
}

.mat-list-base .mat-list-item {
  font-size: 12px;
}

.mat-raised-button {
  width: 100%;
}
