:host {

  .core-container {
    height: 100%;
    display: grid;
    grid-template-columns: 256px auto;
    grid-template-rows: 48px auto;
    grid-template-areas: 'sidenav navbar'
                         'sidenav core';

    .sidenav {
      grid-area: sidenav;
    }

    .navbar {
      grid-area: navbar;
      padding: 0 24px;
    }

    .core-content {
      grid-area: core;
      padding: 24px;
    }
  }

}
